@model Strona1ViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header bg-primary text-white text-center">
                    <h4>Szczegóły pojazdu</h4>
                </div>
                <div class="card-body">
                    <p><b>Marka:</b> @Model.Pod1</p>
                    <p><b>Kolor:</b> @Model.Pod2</p>
                    <p><b>Cena:</b> @Model.Pod3</p>
                    <p><b>Czy Zepsuty:</b> @Model.Pod4</p>
                    <p><b>Przebieg:</b> @Model.Pod5</p>
                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-success">Kup teraz</button>
                </div>
            </div>
        </div>
    </div>
</div>
